<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.indexWindowTitle}</title>
    </h:head>
    <h:body>
        <h:outputText value="#{msgs.indexPageTitle}"
                      style="font-style: italic; font-size: 1.5em"/>
        <h:form>
            <h:panelGrid columns="2">
                #{msgs.namePrompt}
                <h:inputText value="#{user.name}"/>
                #{msgs.passwordPrompt}
                <h:inputSecret value="#{user.password}"/>
                #{msgs.tellUsPrompt}
                <h:inputTextarea value="#{user.aboutYourself}" rows="5" cols="35"/>
            </h:panelGrid>
            <h:commandButton value="#{msgs.submitPrompt}" action="thankYou"/>
        </h:form>
    </h:body>
</html>
