<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.thankYouWindowTitle}</title>
    </h:head>
    <h:body>
        <h:outputText value="#{msgs.namePrompt}" style="font-style: italic"/>
        #{user.name}
        <br/>
        <h:outputText value="#{msgs.aboutYourselfPrompt}" style="font-style: italic"/>
        <br/>
        <pre>#{user.aboutYourself}</pre>
    </h:body>
</html>
